<div class="row">
<h1>Experiencia laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
<ul>
    <li>
        <h1>General project coordinator NPH-Haïti</h1> - <h3>(2015-2017)</h3>
    </li>
    <p>Facilitator de communicación interna, era un trabajo social infantil y familiar. Asegurar una communicación  lúcida y comprensión entre beneficiarios y extranjeros/donantes qui visitan la obra en el país.</p>
</ul>
<ul>
    <li>
        <h1>Delivery man in Pedidosya Argentina</h1> - <h3>(2019-hasta ahora)</h3>
        <p>Entregas de Mercaderias, Comidas y Medicamentos...</p>
    </li>
</ul>
</div>
</div>