h1{
    color: #002549;
}

div{
    text-align: center;
    color: #f0f8ff;
}
.proyecto-headings{
    width: 100vw;
    flex-direction: column;
}

.proyecto-headings{
font-size: 2.5em;
}

.proyecto.container{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card{
    width: 300px;
    background-color: #06bcad;
}

.card_img{
    width: 100%;
    height: 150px;
    background-image: url(../../../assets/img/banner2.png);
    background-size: cover;
}

.card_title{
    padding: 20px;
}

.card_projetc-links{
    display: flex;
    justify-content: space-evenly;
}

.card_projetc-links a{
    color: #f0f8ff;
    text-decoration: none;
}



.card .projetc-details{
margin: 0 auto;
margin: 1em;
width: 70%;
}

.card .projetc-details a{
    text-decoration: none;
    color: #cefdf3;
    text-transform: uppercase;
}

.project-details-content{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

button{
    cursor: pointer;
    color: #f1f4f7;
    border-radius: 10px;
    transition: .5s ease;
    background: transparent;
    border: 2px solid #f3f5f8;
    box-shadow: 0 0 10px 0 #f2f4f8 inset;
    border-radius: 10px;
}