<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/img/lorin.jpeg" alt="" width="70%" class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Jean Guilmy Lorin Thilus</p>
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
    <h1>Acerca de mi</h1>
        <p>Soy un emprendedoro, nunca dejo de aprender cosas nuevas. 
            hace 4 años atras me recibi como politico en una universidad prestigiosa de mi país origen que es Haïti. Mi objectivo es desarollarme profesionalmente y evolucionar en el sector de programacion y tambien estoy buscando
            oportunidades que me permitan hacerlo.</p>
    </span>
</div>
</div>