<div class="row">
    <div class="container">
<div class="logo">
<img src="../../../assets/img/APlogo.png" id="logoAP">
</div>
<div class="redes">
    <a href="https://github.com/lorin1731" target="_blank">
        <i class="fab fa-github fa-2xl"></i>
    </a>
    <a href="https://www.facebook.com/THILUS">
        <i class="fa-brands fa-facebook fa-2xl"></i>
    </a>
    <a href="https://www.linkedin.com/in/jean-guilmy-lorin-thilus-955b8321a/">
        <i class="fa-brands fa-linkedin fa-2xl"></i>
    </a>
    <a href="https://www.instagram.com/lorin.guilmy/">
        <i class="fa-brands fa-instagram fa-2xl"></i>
    </a>

    <button type="button" class="btn-outline-ligh" (click)="login()" *ngIf="!isLogged">INGRESO</button>
    <button type="button" class="btn-outline-ligh" (click)="onLogout()"*ngIf="isLogged" >CERRAR SESSION</button>
</div>
</div>
</div>