.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    
    margin-right: 0.5em;
    color: #fbc862;
}


#logoAP{
    
    width: 150px;
}

img{
    
    width: 40px;
    color: aliceblue;
}

.btn{

    border-width: medium;
}

/*--- Para la vista de celular ---*/
@media(max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        cursor: pointer;
        margin: 0.2em;
    }
}

button{
    cursor: pointer;
    color: #fbc862;
    border-radius: 10px;
    transition: .5s ease;
    background: transparent;
    border: 2px solid #799be6;
    box-shadow: 0 0 10px 0 #799be6 inset;
    border-radius: 10px;
}